body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
  background-image: linear-gradient(lightblue, rgb(64, 64, 185));
}


.todo-Main-Container {
  display: inline;
  border: solid black 1px;
  border-radius: 50px;
  width: 70vw;;
  height: 85vh;
  background-color: rgb(238, 238, 238);

}

.todoHeader {
  display: flex;
  width: 98.60%;
  height: 10%;
  background-color: rgb(59, 121, 255);
  border-radius: 50px 50px 0px 0px;
  align-items:center;
  padding-left: 1vw;
  color: white;
  font-size: 25px;
  text-shadow: black 3px 3px 2px;
}

.buttonMainLeft {
  border: Solid gray 1px;
  background-color: rgb(230, 230, 230);
  margin-left: 1vw;
  margin-top: 1.5vh;
  border-radius: 0px 0px 0px 40px;;
  width: 16vw;
  height: 73vh;
}