body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
  background-image: linear-gradient(lightblue, rgb(64, 64, 185));
  position: inherit;
}


.todo-Main-Container {
  display: inline;
  border: solid black 1px;
  border-radius: 50px;
  width: 70vw;;
  height: 85vh;
  background-color: rgb(243, 242, 242);
}

.todoHeader {
  display: flex;
  width: 98.60%;
  height: 10%;
  background-color: rgb(59, 121, 255);
  border-radius: 50px 50px 0px 0px;
  align-items:center;
  padding-left: 1vw;
  color: white;
  font-size: 25px;
  text-shadow: black 3px 3px 2px;
}


.todoMainBottom {
  display: flex;
  width: 69.76vw ;
  height: 76.0vh;
  border-radius: 0px 0px 40px 40px;
  justify-self: center;

}

    .buttonMainLeft {
      display: block;
      border: Solid rgb(212, 210, 210) 1px;
      background-color: rgb(255, 255, 255);
      margin-left: 1vw;
      margin-top: 1.5vh;
      border-radius: 0px 0px 0px 40px;
      width: 16vw;
      height: 73vh;
    }

          .homeButtonsTopLeft {
            display: block;
            /* border: solid red 2px; */
            width: 92% ;
            height: 80%;
            padding: 10px;
            padding-top: 35px;
            justify-content: center;
          }

                .homeButton,
                .homeCalendarButton,
                .homeContactsButton,
                .homeWhiteboardButton,
                .myAccountButton,
                .calendarBackButton,
                .contactsBackButton {
                  width: 14vw;
                  height: 5vh;
                  background: none;
                  border: none;
                  cursor: pointer;
                  color: rgb(0, 132, 255);
                  font-family: Arial, Helvetica, sans-serif ;
                  font-size: 18px;
                  margin: 5px;
                  text-align: left;
                  padding-left:55px;
                }

                .allButtonsHover:hover {
                  background-color: rgb(230, 241, 252);
                  border-radius: 5px;;
                }


          .myAccountContainer {
            display: block;
            /* border: solid red 2px; */
            width: 100% ;
            height: 10%;
            padding: 10px;
            padding-top: 5px;
            justify-content: center;

          }

    .todoMainRight {
      display: block;
      margin-left: 1vw;
      margin-top: 1.5vh;
      border-radius: 0px 0px 40px 0px;;
      width: 50.7vw;
      height: 73vh;
      justify-content: space-between;
    }

    .todoMainRightEmpty,
    .calendarContainer {
      display: block;
      margin-left: 1vw;
      margin-top: 1.5vh;
      border-radius: 0px 0px 40px 0px;;
      width: 50.7vw;
      height: 73vh;
      background-color: rgb(255, 255, 255);
    }

    .calendarContainer,
    .contactsContainer {
      border: solid orange 3px;
      display: block;
      margin-left: 1vw;
      margin-top: 1.5vh;
      border-radius: 0px 0px 40px 0px;;
      width: 50.7vw;
      height: 73vh;
      background-color:none;
    }

    .calendarSubContainer {
      border: solid black 2px;
      width: 80%;
      height: 90%;
      justify-self: center;
    }

    .contacsSubContainer {
      
      width: 90%;
      height: 90%;
      justify-self: center;
    }

        .mainRightTop {
          display: flex;
          width: 100%;
          height: 51.6%;
        }


              .greetScheduleMain {
                border: Solid rgb(212, 210, 210) 1px;
                background-color: rgb(255, 255, 255);                
                width: 55%;
                height: 100%;                
              }

                    .greetingContainer {
                      display: block;
                      /* border: solid red 1px; */
                      height: 45%;
                      width: 100%;
                    }

                        .greetingMessage {
                          font-family: Arial, Helvetica, sans-serif;
                          font-size: 18px;
                          text-align: center;
                          margin-top: 1vh;
                          font-weight: bold;
                          color: #333f3c;
                        }

                        .userPhoto {
                          border: double gray 4px;
                          border-radius: 100px;
                          width: 6vw;
                          height: 12vh;
                          margin-top: 0.5vh;
                          justify-self: center;
                          background-size: cover;
                        }

                    .todayAgenda {
                      /* border: solid red 1px; */
                      height: 51%;
                      width: 94%;;
                      margin-top: 4px;
                      padding-left: 15px;
                      padding-right: 15px;
                    }

                          .theAgendaText{
                            width: 50%;
                            height: auto;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 18px;
                            text-align: left;
                            font-weight: bold;
                            color: #333f3c;
                          }

                          .agendaContents {
                            border: solid orange 1px;
                            height: 15vh;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 18px;
                            margin-top: 5px;
                          }


              .meetingSchedule {
                border: Solid rgb(212, 210, 210) 1px;
                background-color: rgb(255, 255, 255);                
                width: 45%;
                height: 100%;
                margin-left: 1vw;                
              }

              .meetingScheduleEmpty {
                border: Solid rgb(212, 210, 210) 1px;
                background-color: rgb(255, 255, 255);                
                width: 45%;
                height: 100%;
                margin-left: 1vw;                
         
              }

                    .startMeetingButton,
                    .joinMeetingButton,
                    .scheduleMeetingButton {
                      width: 100%;
                      height: 33%;
                      background: none;
                      border: none;
                      cursor: pointer;
                      color: rgb(0, 132, 255);
                      font-family: Arial, Helvetica, sans-serif ;
                      font-size: 18px;
                      border: solid gray 1px ;
                      margin-bottom: 1.3px;
                    }

        .mainRightBottom {
          display: flex;
          border-radius: 0px 0px 40px 0px;    
          width: 99.8%;
          height: 45%;
          margin-top: 2.4vh;
        }

            .theCalendar {
              border: Solid rgb(212, 210, 210) 1px;
              background-color: rgb(255, 255, 255);
              width: 40%;
              height: 100%;
            }


                  .calPrevNexContainer {
                    display: flex;
                    /* border: solid green 2px; */
                    width: 100%;
                    height: 10%;
                    justify-content: space-between;
                  }
                        .calPreviousButton,
                        .calNextButton {
                          background: none;
                          border: none;
                          cursor: pointer;
                          color: rgb(0, 132, 255);
                          font-family: Arial, Helvetica, sans-serif ;
                          font-size: 18px;
                          margin: 5px;

                        }

                  .calMonths {
                    display: flex;
                    justify-self: center;
                    width: 80%;
                    height: 88%;
                    background-size: cover;
                    
                  }
      

            .toDoList {
              border-radius: 0px 0px 40px 0px;;
              border: Solid rgb(212, 210, 210) 1px;
              background-color: rgb(255, 255, 255);
              width: 60%;
              height: 100%;    
              margin-left: 1vw;          
            }




/* Function Styles */


/* Whiteboard Function */

    .whiteboardHomButton {
      background: none;
      border: none;
      cursor: pointer;
      color: rgb(0, 132, 255);
      font-family: Arial, Helvetica, sans-serif ;
      font-size: 20px;
      margin: 15px;
    }

    .theWhiteboard {
      border: solid orange 3px;
      margin-left: 1vw;
      margin-top: 1.5vh;
      border-radius: 0px 0px 40px 0px;;
      width: 48.5vw;
      height: 63vh;
      background-repeat:no-repeat;
      background-size: 60%;
      background-position:center;
    }


/* SCHEDULE A MEETING FUNCTION */

.scheduleMeetingHomButton,
.scheduleMeetingSubmitButton,
.meetingDetails,
.quickNotesMeetingREscheduleButton,
.quickNotesMeetingCancelButton {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 132, 255);
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 20px;
  margin: 15px;
}

.scheduleFormContainer {
  
  background-color: rgb(255, 255, 255);                
  width: 90%;
  height: 78%;
  margin-left: 1vw;                
}

.scheduleFormName {
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: green;
}

.scheduleFormField {
  display: flex;
  border: solid Green 1px;
  background-color: rgb(255, 255, 255);                
  width: 100%;
  height: 91%;
  margin-top: 1vh;
}

.scheduleFormFieldtheTitles {
  background-color: rgb(255, 255, 255);                
  width: 35%;
  height: 91%;
}

.scheduleFormFieldtForms {
  display: block;
  background-color: rgb(255, 255, 255);                
  width: 60%;
  height: 98%;
}

.meetingFormDate,
.meetingFormTime,
.meetingFormPersonName,
.meetingFormPersonPhone,
.meetingFormPersonEmail,
.meetingFormMeetingSubject,
.meetingFormTextReminder,
.reminderLabel {
  color: rgb(0, 132, 255);
  border-color: rgb(0, 132, 255);
  font-size: 15px;
}

.formsTitles {
  margin: 6px;
  color: gray;
  font-size: 20px;
}


.todoListTitle{
  color: rgb(0, 132, 255);
  border-color: rgb(0, 132, 255);
  font-size: 18px;
  margin: 1%;
  text-decoration: underline;
  font-weight: bold;
}

.todoListTable {
  
  width: 95%;
  height: 85%;
  justify-self: center;
}

.upcomingMeeting {
  
  width: 90%;
  height: auto;
  margin-top: 0vh;
  justify-self: center;
  font-size: 18px;
  color: green;
}


.todoListTableCells {
  /* border: solid black 1px; */
  width: 98%;
  height: auto;
  justify-self: center;
  margin-top: 2vh;
}

.upcomingMeetingTableRow{
  /* border: solid red 1px; */
  width: 98%;
  height: 30px;
  justify-self: center;
  margin-top: 2vh;
}

.upcomingMeetingTableRowCell1 {
  /* border: solid red 1px;  */
  width: 20vw;
}

.upcomingMeetingTableRowCell2 {
  /* border: solid greenyellow 1px; */
  width: 5vw;
  margin-right: none;
}

.meetingDetails {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 132, 255);
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 20px;
}


.quickNotesTableContainer{
height: 80%;
}


.quickNotesTable {
  border: solid lightblue 2px;
  width: 100%;
  height: 65%;
  padding-top: 0.5vh;
}

.quickNotesTableRow1,
.quickNotesTableRow2,
.quickNotesTableRow3,
.quickNotesTableRow4 {
  border: solid green 2px;
  width: 20vw;
  height: auto;
}

.quickNotesTableRow1Cell1,
.quickNotesTableRow1Cell3,
.quickNotesTableRow2Cell1,
.quickNotesTableRow2Cell3,
.quickNotesTableRow3Cell1,
.quickNotesTableRow3Cell3,
.quickNotesTableRow4Cell1,
.quickNotesTableRow4Cell3 
{ 
  width: 3vw;
  height: 20%;
  font-size: 15px;
  font-weight: bold;
  color: green;

}

.quickNotesTableRow1Cell2,
.quickNotesTableRow1Cell4,
.quickNotesTableRow2Cell2,
.quickNotesTableRow2Cell4,
.quickNotesTableRow3Cell2,
.quickNotesTableRow3Cell4
{ 
  width: 3vw;
  height: 20%;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 132, 255);

}

.quickNotesOPButtons {
  display: flex;
  flex-wrap:nowrap;
  height: 30%;

}